.comment{ :class => !comment.is_a?(Email) ? 'email' : nil  }
  - if comment.is_a?(Email)
    .sender= mail_to "info@bollocks.com"
    .subject= comment.subject
    .message= comment.message
  - else
    .user
      = link_to comment.user.email, comment.user
      %small.acted= t('wrote_ago', :time => time_ago_in_words(comment.created_at))
    .quote= t('icons.comment')
    .message
      = comment.text
      .attachments
        - comment.attachments.each do |attachment|
          = link_to attachment.attachment_filename, attachment
