.comment{ :class => !comment.is_a?(Email) ? 'email' : nil  }
  - if comment.is_a?(Email)
    .user
      = mail_to comment.from, nil, :bcc => current_user.dropbox_email
      %span.icon= t('icons.email')
      %strong
        == #{t('subject')}:
        = comment.subject
      %small.acted= t('email_sent_ago', :time => time_ago_in_words(comment.created_at))
    .quote= t('icons.comment')
    .message= comment.text
  - else
    .user
      = link_to comment.user.email, comment.user
      %small.acted= t('wrote_ago', :time => time_ago_in_words(comment.created_at))
    .quote= t('icons.comment')
    .message
      = comment.text
      .attachments
        - comment.attachments.each do |attachment|
          = link_to attachment.attachment_filename, attachment
