.comment{ :class => !comment.is_a?(Email) ? 'email' : nil  }
  - if comment.is_a?(Email)
    .user
      = mail_to comment.from, nil, :bcc => current_user.dropbox_email
      %span.icon= t 'icons.email'
      %strong
        == #{t('subject')}:
        = comment.subject
      %small.acted= t 'email_sent_ago', :time => l(comment.created_at, :format => :short)
    .quote= t 'icons.comment'
    .message
      = comment.text.gsub(/\n/, '<br />')
      .attachments
        - comment.attachments.each do |attachment|
          = link_to attachment.attachment_filename, attachment
  - else
    .user
      = link_to comment.user.email, comment.user
      %small.acted= t 'wrote_ago', :time => l(comment.created_at, :format => :short)
    .quote= t 'icons.comment'
    .message
      = comment.text
      .attachments
        - comment.attachments.each do |attachment|
          = link_to attachment.attachment_filename, attachment
    - if comment.user == current_user
      .actions
        = link_to t('edit_comment'), edit_comment_path(comment), :id => dom_id(comment)
        |
        - simple_form_for comment, :html => { :method => :delete } do |form|
          = hidden_field_tag :return_to, request.request_uri
          = form.button :submit, t('delete'), :class => 'delete', :id => "delete_comment_#{comment.id}"