%fieldset
  = params[:commentable_type]
  = hidden_field_tag :return_to
  = form.hidden_field :commentable_id
  = form.hidden_field :commentable_type
  = form.input :text, :as => :text, :input_html => {:rows => 4}, :grid => '100'
  - form.simple_fields_for 'attachments_attributes[]', Attachment.new do |attachment_form|
    = attachment_form.input :attachment, :as => :file
