.gold.box
  %ul.filters
    %li.first= link_to t('pending'), tasks_path(:incomplete=>true), :id => 'pending', :class=>active_if(params[:incomplete])
    %li= link_to t('assigned'), tasks_path(:assigned=>true), :id => 'assigned',:class=>active_if(params[:assigned])
    %li.last= link_to t('completed'), tasks_path(:completed => true), :id => 'completed', :class=>active_if(params[:completed])
  - form_tag '', :method => :get do
    = hidden_field_tag :incomplete, params[:incomplete]
    = hidden_field_tag :assigned, params[:assigned]
    = hidden_field_tag :completed, params[:completed]
    = render :partial => 'tasks/due_filter' if params[:completed].blank?
    = render :partial => 'tasks/complete_filter' unless params[:completed].blank?
    = submit_tag t('filter'), :id => 'filter'