= hidden_field_tag :return_to, params[:return_to]
= form.hidden_field :asset_id
= form.hidden_field :asset_type
%fieldset
  = form.input :name, :grid=>'100', :required=>true
  = form.input :due_at, :collection => %w(overdue due_today due_tomorrow due_this_week due_next_week due_later).map {|key| [t(key), key] }, :grid=>'33'
  = form.input :assignee_id, :collection => User.all.map {|u| [u.email, u.id] }, :grid=>'33'
  = form.input :category, :collection => Task.categories, :grid=>'33 last', :required=>true
