= hidden_field_tag :return_to, params[:return_to]
= form.hidden_field :asset_id
= form.hidden_field :asset_type
%fieldset
  .100=  form.input :name, :required => true
  .33.a= form.input :category, :collection => Task.categories, :required => true
  .33
    - if params[:preset_date]
      = form.input :due_at, :collection => %w(overdue due_today due_tomorrow due_this_week due_next_week due_later).map {|key| [t(key), key] }, :required => true
      = link_to t('or_real_date'), params.delete_if {|k,v| k == 'preset_date' }, :id => 'real_date'
    - else
      = form.input :due_at, :as => :date
      = link_to t('or_preset_date'), params.merge(:preset_date => true), :id => 'preset_date'
  .33.z= form.input :assignee_id, :collection => User.all.map {|u| [u.email, u.id] }, :required => true
  .clear
