%h2.title
  = t('tasks')
  = add_new t('add_task'), new_task_path
- if @tasks.is_a?(Array)
  - %w(overdue due_today due_tomorrow due_this_week due_next_week due_later).each do |deadline|
    - if @tasks.assigned.send(deadline).any?
      %h3.deadline{:id=>deadline}= t(deadline)
      = render :partial => 'task', :collection => @tasks.send(deadline)

- if @tasks.is_a?(Hash)
  - @tasks.each do |key, value|
    - unless value.blank?
      = key
      = render :partial => 'task', :collection => value
- content_for :sidebar do
  = render :partial => "filters"
  
