%fieldset
  .50.a= f.input :email, :required => true
  .50.z= f.input :username
  .clear
  .50.a= f.input :password, :required => true
  .50.z= f.input :password_confirmation, :required => true
  
= f.button :submit

-#.clear
  %fieldset
    .100= f.input :email, :grid=>'100', :label=>"100"
    .clear
    .75.a= f.input :email, :label=>"75.a"
    .25.z= f.input :email, :label=>"25.z"
    .clear
    .25.a= f.input :email, :label=>"25.a"
    .75.z= f.input :email, :label=>'75.z' 
    .clear
    .66.a= f.input :email, :label=>'66.a'
    .33.z= f.input :email, :label=>'33.z'
    .clear
    .33.a= f.input :email, :label=>'33.a'
    .66.z= f.input :email, :label=>'66.z'
    .clear
    .60.a= f.input :email, :label=>'60.a'
    .40.z= f.input :email, :label=>'40.z'
    .clear
    .40.a= f.input :email, :label=>'40.a'
    .60.z= f.input :email, :label=>'60.z'
    .clear
    .50.a= f.input :email, :label=>'50.a'
    .50.z= f.input :email, :label=>'50.z'
    .clear
    .33.a= f.input :email, :label=>'33.a', :as=>:select, :collection=>[]
    .33= f.input :email, :label=>'33', :as=>:select, :collection=>[]
    .33.z= f.input :email, :label=>'33.z', :as=>:select, :collection=>[]
    .clear                
    .25.a= f.input :email, :label=>'25.a'
    .25= f.input :email, :label=>'25'
    .25= f.input :email, :label=>'25'
    .25.z= f.input :email, :label=>'25.z'
    .clear                        
    .20.a= f.input :email, :label=>'20.a'
    .20= f.input :email, :label=>'20'
    .20= f.input :email, :label=>'20'
    .20= f.input :email, :label=>'20'
    .20.z= f.input :email, :label=>'20.z'
    .clear                        
    .10.a= f.input :email, :label=>'10.a'
    .10= f.input :email, :label=>'10'
    .10= f.input :email, :label=>'10'
    .10= f.input :email, :label=>'10'
    .10= f.input :email, :label=>'10'
    .10= f.input :email, :label=>'10'
    .10= f.input :email, :label=>'10'
    .10= f.input :email, :label=>'10'
    .10= f.input :email, :label=>'10'
    .10.z= f.input :email, :label=>'10.z'
