.item
  = "#{link_to activity.user.email, activity.user} #{activity.action.downcase} #{activity.subject_type.downcase} #{activity.subject.deleted_at ? activity.subject.name : link_to(activity.subject.name, activity.subject)}"
