%h2.title
  Deleted Items

%table
  - @items.each do |item|
    %tr
      %td= item.class.to_s
      %td= item.name
      %td= item.deleted_at.to_s :short
      %td
        - form_tag deleted_item_path(item), :method => :put do
          = submit_tag t('restore'), :id => "restore_#{item.name.to_dom_id}"
        - form_tag deleted_item_path(item), :method => :delete do
          = submit_tag t('permanently_delete'), :id => "delete_#{item.name.to_dom_id}"
