%fieldset
  = form.input :salutation, :as => :select, :collection => Lead.salutations.map(&:to_s), :grid=>'20', :required=>true
  = form.input :title, :as => :select, :collection => Lead.titles.map(&:to_s), :grid=>'20', :required=>true
  = form.input :first_name, :grid=>'30', :required=>true
  = form.input :last_name, :grid=>'30 last', :required=>true
  .clear
  = form.input :email, :grid=> '70'
  = form.input :phone, :grid=> '30 last'
%fieldset
  = form.input :user_id, :as => :select, :collection => User.all.map {|a| [a.email, a.id] }, :include_blank => false, :grid=>'25', :required=>true
  = form.input :status, :as => :select, :collection => Lead.statuses.map(&:to_s), :grid=>'25'
  = form.input :source, :as => :select, :collection => Lead.sources.map(&:to_s), :grid=>'25'
  = form.input :rating, :as => :select, :collection => 1..5, :grid=>'25 last'
  = form.input :campaign_id, :grid=>'70 last'
%fieldset
  
  = form.input :company, :grid=>'70 last'
  .clear
  = form.input :alternative_email, :grid=>'70'
  = form.input :mobile, :grid=>'30 last'
  .clear
  = form.input :address, :as=>:text, :input_html=>{:rows=>2},:grid=>'100'
  = form.input :referred_by, :grid=>'50'
  = form.input :do_not_call, :as => :check_boxes, :collection => [true], :grid=>'50 last', :label=>""
%fieldset
  = form.input :website
  = form.input :twitter
  = form.input :linked_in
  = form.input :facebook
  = form.input :xing
%fieldset
  = form.input :notes, :as => :text
%fieldset
  = render :partial => 'shared/permissions_form', :locals => { :form => form }
