%dl.item.lead
  %dt{:class=>lead.status.downcase}= lead.status
  %dd
    %strong= link_to lead.full_name, lead, :id => lead.full_name.to_dom_id
    = rating_for(lead)
    %small
      = "at #{lead.company}" if !lead.company.blank?
      = " | Email: #{mail_to lead.email}" if lead.email.present?
      = " | Phone: #{lead.phone}" if lead.phone.present?
      = " | Mobile: #{lead.mobile}" if lead.mobile.present?
      %br/
      %em.timestamp= t('added_ago_by', :time => time_ago_in_words(lead.created_at), :by => lead.user.username)
    %span.actions
      = link_to t('edit'), [:edit, lead], :id => "edit_#{lead.full_name.to_dom_id}"
      %b.divider= "|"
      - simple_form_for lead, :html => { :method => :delete } do |form|
        = form.button :submit, t('delete'), :class => 'delete', :id => "delete_#{lead.full_name.to_dom_id}"
