%dl.item.lead
  %dt{:class=>lead.status.downcase}= lead.status
  %dd
    %strong= link_to lead.full_name, lead, :id => lead.full_name.to_dom_id
    - if !lead.company.blank?
      %small= "at #{lead.company}"
    %br/
    = rating_for(lead)
    %small
      - if !lead.email.blank?
        |
        = mail_to lead.email
      - if !lead.phone.blank? && !lead.do_not_call
        |
        %strong= lead.phone
      |
      = I18n.t(:added_ago, :time => time_ago_in_words(lead.created_at))
    %span.actions
      = link_to t('edit'), [:edit, lead], :id => "edit_#{lead.full_name.to_dom_id}"
      %b.divider= "|"
      - simple_form_for lead, :html => { :method => :delete } do |form|
        = form.button :submit, t('delete'), :class => 'delete', :id => "delete_#{lead.full_name.to_dom_id}"
