%h2.title
  Leads
  = add_new t('add_lead'), new_lead_path

= render :partial => 'lead', :collection => @leads
= will_paginate @leads

-# In case we want to group by status later on
-#
-# t('lead_statuses').each_with_index do |status, index|
  - if @leads.with_status(status).any?
    %h3.status{:id=>status}= t('lead_statuses')[index]
    = render :partial => 'lead', :collection => @leads.with_status(status)
    .clear

-content_for :sidebar do
  .gold.box
    %h3= t('filter_by_status')
    - form_tag '', :method => :get do
      %ul.checks.stacked
        - Lead.statuses.each do |status|
          %li
            = check_box_tag 'with_status[]', status, (params[:with_status] and params[:with_status].include?(status)), :id => "status_#{status}"
            %label{ :for => "status_#{status}" }= status
      %ul.checks.stacked
        %li
          = check_box_tag 'unassigned', true, params[:unassigned]
          %label{ :for => 'unassigned' } Unassigned
        %li
          = check_box_tag 'assigned_to', current_user.id, params[:assigned_to]
          %label{ :for => 'assigned_to' } Assigned to me
      %ul.checks.stacked
        - Lead.sources.sort.each do |source|
          %li
            = check_box_tag 'source_is[]', source, (params[:source_is] and params[:source_is].include?(source)), :id => "source_#{source.parameterize}"
            %label{ :for => "source_#{source.parameterize}" }= source
      .clear= submit_tag t('filter'), :id => 'filter'
