.title
  %h2
    = @lead.full_name
    - if @lead.company.present?
      %small= " @ #{@lead.company}"
    = rating_for(@lead)
  - if @lead.status_is?('Converted')
    %span.status.converted
      %strong &#10004;
      = t('converted')
  - if @lead.status_is?('Rejected')
    %span.status.rejected
      %strong &#10008;
      = t('rejected')
  %ul.actions
    %li
      = link_to t('edit'), edit_lead_path(@lead, :return_to => request.request_uri), :id => "edit_#{dom_id @lead}"
    - if @lead.assignee.nil?
      %li
        - simple_form_for @lead, :html => {:class => "accept"} do |form|
          = form.hidden_field :do_not_notify, :value => true
          = form.hidden_field :assignee_id, :value => current_user.id
          = hidden_field_tag :return_to, request.request_uri
          = form.button :submit, t('accept').capitalize, :id => 'accept'
    %li
      - if @lead.tracked_by?(current_user)
        - simple_form_for @lead, :html => {:class => "stop update"} do |form|
          = hidden_field_tag 'lead[remove_tracker_ids][]', current_user.id
          = hidden_field_tag :return_to, request.request_uri
          = form.button :submit, t('stop_updating_me'), :id => 'stop_updating_me'
      - else @lead.tracked_by?(current_user)
        - simple_form_for @lead, :html => {:class => "start update"} do |form|
          = hidden_field_tag 'lead[tracker_ids][]', current_user.id
          = hidden_field_tag :return_to, request.request_uri
          = form.button :submit, t('keep_me_updated'), :id => 'keep_me_updated'
    - unless @lead.status_is?('Converted') or @lead.status_is?('Rejected')
      %li= link_to t('convert'), convert_lead_path(@lead), :id=> 'convert_lead'
      %li
        - simple_form_for @lead, :url => reject_lead_path(@lead), :html => { :method => :put } do |form|
          = form.button :submit, t('reject'), :id => 'reject_lead'
  -#
    %li.delete
      - simple_form_for @lead, :html => { :method => :delete } do |form|
        = form.button :submit, t('delete'), :id => "delete_#{dom_id @lead}"
  %br/
  %small
    = t('added_ago_by', :time => l(@lead.created_at, :format => :short), :by => @lead.user.username)
    = " : #{t('assigned_to', :user => User.find(@lead.assignee_id).full_name) if @lead.assignee_id.present?}"
- if @lead.notes.present?
  .notes= @lead.notes

= render :partial => "tasks/add_task", :locals => { :object => @lead }

= render :partial => 'comments/comments', :locals => { :object => @lead }


- content_for :sidebar do
  .box.gold
    %h3= t('contact_info')
    %dl.info
      = show_attribute(@lead, 'identifier')
      = show_attribute(@lead, 'company')
      = show_attribute(@lead, 'job_title')
      = show_attribute(@lead, 'department')
      = show_attribute(@lead, 'email', mail_to(@lead.email, nil, :bcc => current_user.dropbox_email))
      = show_attribute(@lead, 'alternative_email', mail_to(@lead.alternative_email, nil, :bcc => current_user.dropbox_email))
      - unless @lead.do_not_call
        = show_attribute(@lead, 'phone')
        = show_attribute(@lead, 'mobile')
      = show_attribute(@lead, 'address')
      = show_attribute(@lead, 'city')
      = show_attribute(@lead, 'postal_code')
      = show_attribute(@lead, 'referred_by')
      = show_attribute(@lead, 'website', link_to(t('visit_website'),@lead.website))
      = show_attribute(@lead, 'twitter', link_to('Twitter',@lead.website))
      = show_attribute(@lead, 'linked_in', link_to('LinkedIn',@lead.linked_in))
      = show_attribute(@lead, 'facebook', link_to('Facebook',@lead.facebook))
      = show_attribute(@lead, 'xing', link_to('Xing',@lead.xing))
      = show_attribute(@lead, 'referred_by')
  #recent_activity.box.ice
    %h3= t('recent_activity_for', :name => @lead.full_name )
    = render :partial => 'shared/activity_for', :collection => @lead.activities.limit(6), :as => :activity
