.item
  = link_to contact.full_name, contact, :id => contact.full_name.to_dom_id
  %span.actions
    = link_to t('edit'), [:edit, contact], :id => "edit_#{contact.full_name.to_dom_id}"
    %b.divider= "|"
    - simple_form_for contact, :html => { :method => :delete } do |form|
      = form.button :submit, t('delete'), :id => "delete_#{contact.full_name.to_dom_id}", :class=> 'delete'
