%fieldset
  .16.a= form.input :salutation, :as => :select, :collection => Lead.salutations.map(&:to_s)
  .16= form.input :title, :as => :select, :collection => Lead.titles.map(&:to_s)
  .33= form.input :first_name, :required => true
  .33.z= form.input :last_name, :required => true
  .clear
  .50.a= form.input :account_id, :collection => Account.all(:order => 'name asc').map {|a| [a.name, a.id] }
  .50.z= link_to t('add_account'), new_account_path(:return_to => request.request_uri), :id => 'new_account', :class => 'inline-add'
%h3.toggler= t('contact_info')
.toggle
  %fieldset
    .33.a= form.input :email
    .33= form.input :phone
    .33.z= form.input :department
    .clear
    .33.a= form.input :address, :as => :text, :input_html => { :rows => 4 }
    .33= form.input :city
    .33.z= form.input :postal_code
    .clear
    .33.a
      %label{ :for => 'contact_country' }= t('country')
      = localized_country_select :contact, :country, TOP_COUNTRIES
    .33=   form.input :alt_email
    .33.z= form.input :mobile
    .clear
    .33.a= form.input :fax
    .33
      .boolean
        =  form.check_box :do_not_call
        =  form.label :do_not_call
    .clear

%h3.toggler= t('web_and_social_media')
.toggle
  %fieldset
    .100=  form.input :website
    .50.a= form.input :twitter
    .50.z= form.input :linked_in
    .50.a= form.input :facebook
    .50.z= form.input :xing

%h3.toggler= "#{t('tracking')} &amp; #{t('simple_form.labels.permissions')}"
.toggle
  %fieldset
    .25.a= form.input :source, :collection => t('lead_sources')
    .25= form.input :assignee_id, :collection => current_user.company.users.map {|u| [u.full_name, u.object_id]}
    = render :partial => 'shared/permissions_form', :locals => { :form => form, :p1=> '25', :p2=> '25 z' }

.act.pad
  = form.button :submit
  = t('or')
  = link_to t('cancel'), :back
