%fieldset
  = form.input :first_name, :grid=>'50'
  = form.input :last_name, :grid=>'50 last'
  = form.input :account_id, :collection => Account.all.map {|a| [a.name, a.id] }, :grid=>'50'
  = link_to t('add_account'), new_account_path(:return_to => request.request_uri), :id => 'new_account', :class=>'inline-add'
%fieldset
  = render :partial => 'shared/permissions_form', :locals => { :form => form }

