%h2.title
  == #{@contact.account.name}: #{@contact.full_name}
  %ul.actions
    %li.first
      = link_to t('edit'), edit_contact_path(@contact)
    %li
      - simple_form_for @contact do |form|
        = hidden_field_tag :return_to, request.request_uri
        - if @contact.tracked_by?(current_user)
          = hidden_field_tag 'contact[remove_tracker_ids][]', current_user.id
          = form.button :submit, t('stop_updating_me'), :id => 'stop_updating_me'
        - else
          = hidden_field_tag 'contact[tracker_ids][]', current_user.id
          = form.button :submit, t('keep_me_updated'), :id => 'keep_me_updated'
    %li.last
      - simple_form_for @contact, :html => { :method => :delete } do |form|
        = form.button :submit, t('delete'), :id => 'delete'
    


= render :partial => "tasks/add_task", :locals=> { :object=>@contact }

- content_for :sidebar do
  .box.gold
    %h3= t('contact_info')
    %dl.info
      = show_attribute(@contact, 'department')
      = show_attribute(@contact, 'email', mail_to(@contact.email))
      = show_attribute(@contact, 'alt_email', mail_to(@contact.alt_email))
      - unless @contact.do_not_call
        = show_attribute(@contact, 'phone')
        = show_attribute(@contact, 'mobile')
      = show_attribute(@contact, 'fax')
      = show_attribute(@contact, 'address')
      = show_attribute(@contact, 'website', link_to(t('visit_website'),@contact.website))
      = show_attribute(@contact, 'twitter', link_to('Twitter',@contact.website))
      = show_attribute(@contact, 'linked_in', link_to('LinkedIn',@contact.linked_in))
      = show_attribute(@contact, 'facebook', link_to('Facebook',@contact.facebook))
      = show_attribute(@contact, 'xing', link_to('Xing',@contact.xing))
      = show_attribute(@contact, 'born_on')  