.title
  %h2
    = @contact.full_name
    - if !@contact.account.nil?
      %small= " @ #{link_to @contact.account.name, @contact.account}"
  %ul.actions
    %li
      = link_to t('edit'), edit_contact_path(@contact), :id => "edit_#{dom_id(@contact)}"
    %li
      - simple_form_for @contact do |form|
        = hidden_field_tag :return_to, request.request_uri
        - if @contact.tracked_by?(current_user)
          = hidden_field_tag 'contact[remove_tracker_ids][]', current_user.id
          = form.button :submit, t('stop_updating_me'), :id => 'stop_updating_me'
        - else
          = hidden_field_tag 'contact[tracker_ids][]', current_user.id
          = form.button :submit, t('keep_me_updated'), :id => 'keep_me_updated'
    -#%li.delete
      - simple_form_for @contact, :html => { :method => :delete } do |form|
        = form.button :submit, t('delete'), :id => "delete_#{dom_id @contact}"
  %br/
  %small
    = t('added_ago_by', :time => l(@contact.created_at, :format => :short), :by => @contact.user.username)
= render :partial => "tasks/add_task", :locals => { :object => @contact }
= render :partial => "comments/comments", :locals => { :object => @contact }

- content_for :sidebar do
  .box.gold
    %h3= t('contact_info_for', :name => @contact.first_name)
    %dl.info
      = show_attribute(@contact, 'identifier')
      = show_attribute(@contact, 'department')
      = show_attribute(@contact, 'email', mail_to(@contact.email, nil, :bcc => current_user.dropbox_email))
      = show_attribute(@contact, 'alt_email', mail_to(@contact.alt_email, nil, :bcc => current_user.dropbox_email))
      - unless @contact.do_not_call
        = show_attribute(@contact, 'phone')
        = show_attribute(@contact, 'mobile')
      = show_attribute(@contact, 'fax')
      = show_attribute(@contact, 'address')
      = show_attribute(@contact, 'website', link_to(t('visit_website'),@contact.website))
      = show_attribute(@contact, 'twitter', link_to('Twitter',@contact.website))
      = show_attribute(@contact, 'linked_in', link_to('LinkedIn',@contact.linked_in))
      = show_attribute(@contact, 'facebook', link_to('Facebook',@contact.facebook))
      = show_attribute(@contact, 'xing', link_to('Xing',@contact.xing))
      = show_attribute(@contact, 'born_on')

  #recent_activity.box.ice
    %h3= t('recent_activity_for', :name => @contact.full_name )
    = render :partial => 'shared/activity_for', :collection => @contact.activities.limit(6), :as => :activity
