- simple_form_for Search.new do |form|
  = render :partial => 'form', :locals => { :form => form }

%h2= t('results')
- unless @search.results.blank?
  - @search.results.each do |result|
    %div{ :class => result.class }
      - if result.is_a?(Lead)
        Lead
        = link_to result.name, result
        @
        = result.company
      - if result.is_a?(Contact)
        Contact
        = link_to result.name, result
        - if result.account
          @
          = result.account.name
      - if result.is_a?(Account)
        Account
        = link_to result.name, result
- else
  = t('no_search_results', :link => new_search_path)
