%h2.title= t('search_results_for', :terms => @search.terms)
- unless @search.results.blank?
  - @search.results.each do |result|
    %div{ :class => result.class }
      - if result.is_a?(Lead)
        = render :partial => "leads/lead", :locals => { :lead => result }
      - if result.is_a?(Contact)
        = render :partial => "contacts/contact", :locals => { :contact => result }
      - if result.is_a?(Account)
        = render :partial => "accounts/account", :locals => { :account => result }
- else
  = t('no_search_results', :link => new_search_path)
