!!!
%html
  %head
    = javascript_include_tag 'right.js','right/rails.js','application.js', :cache => true
    = stylesheet_link_tag 'compiled/application.css'
    = title_tag 'SalesFlip'
    = description_tag 'An unobtrusive, slim CRM built with MongoMapper and RightJS'
    = keywords_tag 'lean crm unobtrusive mongomapper rightjs'
    %meta{ :content => "text/html; charset=utf-8", "http-equiv" => "Content-Type" }
  - body do
    #header
      .pad
        %h1
          - link_to root_path do
            %strong.logo SalesFlip:
            = @configuration.company_name if @configuration
        = render :partial => "layouts/nav" if current_user
    #content
      .pad
        - if flash[:notice]
          #flashes
            #flash.notice= flash[:notice]
        - if flash[:error]
          #flashes
            #flash.error= flash[:error]
        #main{ :class => @main_class }
          .pad= yield
        #sidebar
          #search
            - simple_form_for Search.new do |form|
              .100= form.input :terms, :label => t('search')
              .hidden= form.submit t('search')
          = yield :sidebar
          - if action_is('index')
            #recent_items.box.ice
              %h3= t('recent_items')
              %ul.plain
                - current_user.recent_items.each do |item|
                  %li
                    %span== #{item.class.to_s}:
                    - if item.instance_of?(Comment)
                      = "on " + link_to(item.commentable.full_name, item.commentable)
                    - else
                      = item.deleted_at.blank? ? link_to(item.name, item) : item.name
                    -#%small= l item.updated_at, :format => :short
      .clear