!!!
%html
  %head
    = javascript_include_tag 'right.js','right/rails.js','application.js'
    = stylesheet_link_tag 'compiled/application.css'
    = title_tag 'SalesFlip'
    = description_tag 'An unobtrusive, slim CRM built with MongoMapper and RightJS'
    = keywords_tag 'lean crm unobtrusive mongomapper rightjs'
    %meta{ :content => "text/html; charset=utf-8", "http-equiv" => "Content-Type" }
  - body do
    #header
      .pad
        %h1
          - link_to root_path do
            %strong.logo SalesFlip:
            = @configuration.company_name if @configuration
        - if current_user
          #menus
            %p
              = "Welcome, #{current_user.username}"
              |
              = link_to t('my_profile'), profile_path, :id => 'profile'
              |
              = link_to t('logout'), destroy_user_session_path, :id => 'logout'
            %ul#navigation
              %li.first= link_to t('dashboard'), root_path, :class => active_if(controller_is('pages'))
              %li= link_to t('tasks'), tasks_path, :class => active_if(controller_is('tasks'))
              %li= link_to t('leads'), leads_path, :class => active_if(controller_is('leads'))
              %li= link_to t('accounts'), accounts_path, :id => 'accounts', :class => active_if(controller_is('accounts'))
              %li= link_to t('contacts'), contacts_path, :id => 'contacts', :class => active_if(controller_is('contacts'))
              - activities = Activity.action_is('Deleted').not_restored.count
              %li= link_to activities > 0 ? t('recycle_bin', :count => activities) : t('recycle_bin_empty'), deleted_items_path, :id => 'recycle_bin', :class => active_if(controller_is('deleted_items'))
    #content
      .pad
        - if flash[:notice]
          #flashes
            #flash.notice= flash[:notice]
        - if flash[:error]
          #flashes
            #flash.error= flash[:error]
        #main{:class => @main_class }
          .pad= yield
        #sidebar
          = yield :sidebar
          - if action_is('index')
            #recent_items.box.ice
              %h3= t('recent_items')
              %ul.plain
                - current_user.recent_items.each do |item|
                  %li
                    %span== #{item.class.to_s}:
                    - if item.instance_of?(Comment)
                      = "on " + link_to(item.commentable.full_name, item.commentable)
                    - else
                      = item.deleted_at.blank? ? link_to(item.name, item) : item.name
                    -#%small= l item.updated_at, :format => :short
