!!!
%html
  %head
    = javascript_include_tag 'right.js', 'right-calendar.js', 'application.js', :cache => true
    = stylesheet_link_tag 'compiled/application.css'
    = title_tag 'SalesFlip'
    = description_tag 'An unobtrusive, slim CRM built with MongoMapper and RightJS'
    = keywords_tag 'lean crm unobtrusive mongomapper rightjs'
    %meta{ :content => "text/html; charset=utf-8", "http-equiv" => "Content-Type" }
  - body do
    #header
      .pad
        %h1
          - link_to root_path do
            %strong.logo SalesFlip:
            = @configuration.company_name if @configuration
        = render :partial => "layouts/nav" if current_user
    #content
      .pad
        - if flash[:notice]
          #flashes
            #flash.notice= flash[:notice]
        - if flash[:error]
          #flashes
            #flash.error= flash[:error]
        #main{ :class => @main_class }
          .pad= yield
        #sidebar
          - if user_signed_in?
            #search
              - simple_form_for @search || Search.new do |form|
                .100= form.input :terms, :label => t('search')
                .clear
                .33.a
                  = check_box_tag 'search[collections][]', 'Lead', (params[:search] && params[:search][:collections].include?('Lead')) || (!@search && params[:search].blank?) || (@search and @search.collections.include?('Lead')), :id => 'search_collections_lead'
                  %label{ :for => 'search_collections_lead' }= t('leads')
                .33
                  = check_box_tag 'search[collections][]', 'Contact', (params[:search] && params[:search][:collections].include?('Contact')) || (!@search && params[:search].blank?) || (@search and @search.collections.include?('Contact')), :id => 'search_collections_contact'
                  %label{ :for => 'search_collections_contact' }= t('contacts')
                .33.z
                  = check_box_tag 'search[collections][]', 'Account', (params[:search] && params[:search][:collections].include?('Account')) || (!@search && params[:search].blank?) || (@search and @search.collections.include?('Account')), :id => 'search_collections_account'
                  %label{ :for => 'search_collections_account' }= t('accounts')
                .clear
                .100= form.input :company, :label => t('by_company')
                .hidden= form.submit t('search')
          = yield :sidebar
          - if action_is('index')
            #recent_items.box.ice
              %h3= t('recent_items')
              %ul.plain
                - current_user.recent_items.each do |item|
                  %li
                    %span== #{item.class.to_s}:
                    - if item.instance_of?(Comment)
                      = "on " + link_to(item.commentable.full_name, item.commentable)
                    - else
                      = item.deleted_at.blank? ? link_to(item.name, item) : item.name
                    -#%small= l item.updated_at, :format => :short
      .clear
