%h2.title.show
  = @account.name
  %ul.actions
    %li.first
      = link_to t('edit_account'), [:edit, @account]
    %li.last
      - simple_form_for @account do |form|
        = hidden_field_tag :return_to, request.request_uri
        - if @account.tracked_by?(current_user)
          = hidden_field_tag 'account[remove_tracker_ids][]', current_user.id
          = form.button :submit, t('stop_updating_me'), :id => 'stop_updating_me'
        - else
          = hidden_field_tag 'account[tracker_ids][]', current_user.id
          = form.button :submit, t('keep_me_updated'), :id => 'keep_me_updated'
          
%h3= t('contacts')
.contacts
  = render :partial => 'contacts/contact', :collection => @account.contacts

= render :partial => "tasks/add_task", :locals=> { :object=>@account }